<div class="main-footer">
    <div class="content-footer">
      <div class="title">
          {{'contact' | translate}}
      </div>
      <div class="contact">
          {{'phone' | translate}}:<a href="tel:+48 500 630 217"> +48 500 630 217</a><br>
        E-mail: <a href="mailto:raczek.artur@wp.pl">raczek.artur@wp.pl</a>
      </div>
      <div class="contact-more">
          {{'more information' | translate}}: <a href="https://www.linkedin.com/in/artur-raczek-357695106/" target="_blank" rel="noopener, noreferrer">LinkedIn</a>
      </div>
    </div>
    <div class="copyrights">
        COPYRIGHT ©2019 AR-CODE. ALL RIGHTS RESERVED
    </div>
    <!-- <div class="icons">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <div class="icons">Icons made by <a href="https://www.flaticon.com/authors/cole-bemis" title="Cole Bemis" rel="noopener, noreferrer">Cole Bemis</a> from <a href="https://www.flaticon.com/"    rel="noopener, noreferrer"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" rel="noopener, noreferrer"                title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
