@import '../../styles/common-styles';
.main-footer {
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    background-color: $black;
    .content-footer {
        position: relative;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 16px;
        line-height: 24px;
        width: auto;
        min-height: 100px;
        color: white;
        margin: 0 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        overflow: auto;
        @media (max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
        }
        .contact, .contact-more {
            position: relative;
            font-family: 'Open Sans', sans-serif;
            float: left;
            display: block;
            width: 50%;
            text-align: left;
            a {
            color: white;
            text-decoration: none;
            font-weight: bold;}
            @media (max-width: 600px) {
                clear: both;
                text-align: left;
                width: 100%;
            }
        }
        .contact-more {
            text-align: right;
            @media (max-width: 600px) {
                clear: both;
                text-align: left;
            }
            a {
                text-decoration: none;
                text-decoration: underline;
                font-weight: bold;
                color: white;
            }

        }
    }
    .title {
        line-height: 28px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
}
.copyrights {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: $black;
    color: white;
}
.icons {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    cursor: none;
    text-align: center;
    font-size: 10px;
    a {
        text-decoration: none;
        color: white;
        cursor: none;
    }
}