<div class="content">
    <div class="name">
        Artur Raczek
        <p>{{'programmer' | translate}}</p>
    </div>
    <div class="img">
      <!-- <img src="/../assets/image/person.jpg" alt="" > -->
    <!-- <div class="img-logo"> -->
        <!-- <img src="/../assets/image/angular.svg" alt="" > -->
    <!-- </div> -->
    </div>
    <div class="name">
        <p>{{'passions' | translate}}: {{'sport' | translate}}, {{'programming' | translate}}, {{'develop interpersonal skills in managment area' | translate}}</p>
    </div>
</div>

  