$black: rgb(18, 104, 218);
$main:#7050e0; 
$main2: #561fe0;
$text-color-main:white;
$text-color-second:rgb(18, 104, 218);
$text-color-third:black;
$text-color-showed:gold;
$rate-color: rgb(18, 104, 218);
$underline-title: gold;
$navbar-background: rgb(18, 104, 218); 

