@import '../../../styles/common-styles';
.main {        
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    height: auto;
    @media (max-width: 600px) {
        font-size: 14px;
    }
    .skill {
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; 
        .title{
            position: relative;
            float: left;
            display: block;
            margin-right: 15px;
            width: 220px;
            @media (max-width: 450px) {
                min-width: 130px;
                width: 180px;
            }
            @media (max-width: 380px) {
                min-width: 130px;
                width: 130px;
            }
        }
        .rate {
            position: relative;
            min-height: 14px;
            min-width: 14px;
            border-radius: 100%;
            background-color: $rate-color;
            display: block;
            float: left;
            margin-right: 10px;
        }
        .rate_empty {
            position: relative;
            min-height: 12px;
            min-width: 12px;
            border-radius: 100%;
            border: 2px solid $rate-color;
            display: block;
            float: left;
            margin-right: 10px;

        }
    }
}